<!DOCTYPE html>
<html lang="en">
<html>
<head></head>
<body>
<h1>API example Flask app </h1>
  <p> This app serves data from 3rd party APIs via Flask endpoints. </p>
  <h3>Links</h3>
<ul>
 <li><a href="/apod">NASA Picture of the Day |  <strong> /apod</strong>s </a></li>
  <li><a href="/rick-and-morty/18">Rick and Morty Search by ID } <strong> /rick-and-morty/id</strong>s </a></li>
  <li><a href="/lyrics">Song Lyrics for SZA's Good Days | use:<strong> /lyrics</strong>s </a></li>

 
</ul>
  <p> You can also use this endpoint: /lyrics/{aritst}/{song} </p>
</body>
  
</html>
